<%- include('../header'); -%>
    
        <h1>Đổi mật khẩu</h1>
        <form action="/auth/password/<%=secret %>" method="POST">
            <div class="form-group">
                
                <p><strong>Passowrd</strong></p>
                <input placeholder="Password" id="password"  name="password" type="Password" required="">
            </div>
            <div class="dn">
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
        </form>
    

    <%- include('../footer'); -%></form>