<%- include('../header'); -%>

    <div class="breadcrumbs" itemprop="breadcrumb">

    </div>

    
        <h1>Reset Password</h1>
        <form action="/auth/resetpassword" method="POST">
            <div class="form-group">
                <p>Vui lòng nhập Email vào ô bên dưới</p>
                <p><strong>Email</strong></p>
                <input placeholder="Địa chỉ Email" id="email"  name="email" type="text" required="">
            </div>
            <div class="dn">
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
        </form>
    

    <%- include('../footer'); -%>