<%- include('./headeradmin'); -%>

<div class="bang-phim" style="width: 100%">
    <h2>Danh sách toàn bộ vé</h2>
    <table>
        
    </table>
    </div>

<%- include('./footeradmin'); -%>